<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>LSTelegramNotifyPlus</name>
        <type>plugin</type>
        <creationDate>2020-10-15</creationDate>
        <last_update>2025-04-09</last_update>
        <author>luckydonald</author>
        <authorUrl>https://github.com/luckydonald</authorUrl>
        <supportUrl>https://github.com/luckydonald/LSTelegramNotifyPlus</supportUrl>
        <copyright>Copyright (C) 2025 luckydonald, and others.</copyright>
        <email>LSTelegramNotifyPlus_code@luckydonald.de</email>
        <license>MIT / GNU General Public License version 2 or later</license>
        <version>2.0.1</version>
        <description><![CDATA[Notify form submission in Telegram, as PDF or CSV and with attachments]]></description>
    </metadata>

    <compatibility>
        <version>6.0</version>
        <version>5.0</version>
        <version>4.0</version>
        <version>3.0</version>
    </compatibility>
</config>
